/* home page sytle */
.wrapper {
    padding: 120px 30px 50px;
    text-align: center;
}

.wrapper h2 {
    font-size: 2.0rem;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 0;
}

.poster {
    max-width: 495px;
    border: 1px solid #d18237;
    border-radius: 8px;
    margin: 0px auto 20px;
    padding: 55px 20px 30px;
}

.poster h3 {
    font-size: 2.0rem;
    padding-bottom: 10px;
    text-align: left;
}

.poster .info-item {
    margin-top: 30px;
    padding: 10px 20px;
    background: #d66c44;
    font-size: 1.6rem;
    border-radius: 5px;
    text-align: center;
}

.poster .info-item a:link,
.poster .info-item a:visited {
    color: #fefcfd;
    font-size: 1.6rem;
}

.poster .info-item i {
    padding-left: 20px;
    color: #fefcfd;
}

.poster .info-item:hover a,
.poster .info-item:hover i {
    color: #324856;
}

/* footer sytle */
footer {
    width: 100%;
    text-align: center;
    padding: 30px;
}

/* 手機螢幕 */
@media screen and (max-width: 767px) {}

/* 平板螢幕 */
@media screen and (min-width: 768px) {
    .wrapper {
        padding: 160px 30px 90px;
    }
}

/* 電腦螢幕 */
@media screen and (min-width: 992px) {

    /* 做向下滾動 stikcy Navbar 效果 */
    /* .header {
        position: relative;
    } */

    /* .sticky {
        position: fixed;
        top: 0;
    } */

    /* 要空出 Navbar 的高度 */
    /* .sticky+.wrap-side .poster-group {
        padding-top: 200px;
    } */

    .wrapper {
        padding: 180px 30px 160px;

    }

    .wrapper h1 {
        font-size: 3.8rem;
    }

    .wrapper h2 {
        font-size: 2.4rem;
    }

    .wrapper small {
        font-size: 1.6rem;
    }

    .container-fluid {
        width: 100%;
        background: #d18237;
        background: linear-gradient(180deg, transparent 50%, #d18237 50%) center center;
        background: linear-gradient(20deg, #d66c44, #d18237, #4a746a, #324856) center center / 100% 100%;
        background: linear-gradient(20deg, #d18237, #d66c44) center center / 100% 100%;
        background: none;
    }

    .wrap-large-home {
        width: 95%;
        margin: 0 auto;
    }

    .poster-group {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        position: relative;
        top: -60px;
    }

    .poster {
        width: 30%;
        margin: 0px 0px 40px;
        border: 1px solid #ddd;
        background: #324856;
        box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);

    }

    .poster h3,
    .poster p {
        color: #fefcfd;
    }

    .poster strong {
        color: #fefcfd;
    }
}