/* 共用設定 */
h1 {
    font-size: 2.8rem;
    margin-bottom: 1.2rem;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 1.2rem;
}

h3 {
    font-size: 1.8rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

p {
    font-size: 1.6rem;
    line-height: 3rem;
    margin-bottom: 2.5rem;
}

.wrap-top {
    padding: 90px 0 0;
}

.wrap-side {
    padding: 0 30px;
}

/* section title */
.title {
    width: 100%;
    text-align: justify;
    margin: 0 auto;
}

.title h1 {
    text-align: center;

}

/* section contents */

section p,
li {
    color: #222;
}

section .article {
    margin: 1rem 0;
}

section ol {
    font-size: 1.6rem;
    line-height: 3rem;
    padding: 0 2rem;
    list-style-position: inside;
}

section ol li {
    list-style-type: decimal;
}

section .article-card-wrap {
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
}

section .article-card {
    width: 45%;
    border: 1px solid #888;
    border-radius: 5px;
    padding: 6px 15px;
}

section .article-card a {
    color: #4a746a;
}

section .article-card a:hover {
    color: #d66c44;
}

.article-card ul {
    list-style-position: inside;
    margin-bottom: 1.5rem;
    margin-left: 1.6rem;
}

.article-card ul li {
    list-style-type: disc;
}


/* 手機螢幕 */
@media screen and (max-width: 767px) {

    section .article-card-wrap {
        flex-wrap: wrap;
    }

    section .article-card {
        width: 100%;
        margin-bottom: 15px;
    }


}

/* 平板螢幕 */
@media screen and (min-width: 768px) {}

/* 電腦螢幕 */
@media screen and (min-width: 992px) {}