/* 共用設定 */

#menu-control {
    position: absolute;
    z-index: -2;
    opacity: 0;
}

/* header fixed */
.header {
    width: 100%;
    position: fixed;
    top: 10px;

    /* 為了不要讓內容的層級被蓋過去 */
    z-index: 10;
}

.header-content {
    width: 90%;
    height: 50px;
    margin: 0 auto;
    background: #Fefcfd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border: 1px solid #d66c44;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 1px #d66c44;
}

.header-content i {
    color: #000;
}

.header-content .home-icon i,
.header-rwd-icon i {
    color: #fff;
}


/* Home-icon */
.header-content .home-icon {
    display: block;
    background: #d66c44;
    line-height: 50px;
    padding: 0 1.5rem;
    position: relative;
    border-radius: 0.5rem 0 0 0.5rem;
}

.header-content .home-icon::after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    left: 100%;
    border-top: 50px solid #d66c44;
    border-right: 12px solid transparent;
}

nav i {
    padding-left: 0.5rem;
}

.nav-menu a {
    color: #444;
    display: inline-block;
}

.nav-submenu {
    display: none;
}

.nav-menu>li:hover .nav-submenu {
    display: block;
}

.nav-menu li:hover a {
    color: #261a28;
}

/* breadcrumbs */
.breadcrumbs {
    width: 40%;
    position: fixed;
    top: 6rem;

    /* 為了不要讓內容的層級被蓋過去 */
    z-index: 10;
}

.breadcrumbs-list {
    display: flex;
    margin: 0 1rem;
}

.breadcrumbs-list a {
    color: #fefcfd;
}

.breadcrumbs-list>li {
    padding: 1rem 0.5rem;
}

.breadcrumbs-list>li+li::before {
    content: "/";
    left: 0;
    padding-right: 0.5rem;
    color: #fefcfd;
}

.breadcrumbs-list li:hover a {
    color: #324856;
}

.wrapper {
    width: 80%;
    text-align: center;
}

footer {
    width: 100%;
    text-align: center;
    margin: 150px auto auto;
}


/* 手機螢幕 */
@media screen and (max-width: 767px) {

    /* RWD icon */
    .header-content .header-rwd-icon {
        display: block;
        background: #d66c44;
        line-height: 50px;
        padding: 0 1.5rem;
        position: relative;
        border-radius: 0 0.5rem 0.5rem 0;
    }

    .header-content .header-rwd-icon::after {
        content: '';
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        top: 0;
        right: 100%;
        border-right: 12px solid #d66c44;
        border-top: 50px solid transparent;
    }

    .header-rwd-icon :last-child {
        position: absolute;
        left: 18px;
        top: 18px;
        display: none;
    }

    /* 漢堡選單menu區塊 */
    nav {
        width: 100%;
        height: auto;
        margin: 0 auto;
        padding: 1rem;
        position: absolute;
        left: 0;
        text-align: center;
        border: 1px solid #d66c44;
        top: 100%;
        border-radius: 0.5rem;
        background: #fefcfd;

        display: none;
        opacity: 0;
        transition: all 0.5s;
    }

    /* 波浪號後面只能接input同層，所以要先選到.header */
    #menu-control:checked~.header nav {
        opacity: 1;
        display: block;
    }

    #menu-control:checked~.header .header-rwd-icon :first-child {
        opacity: 0;
    }

    #menu-control:checked~.header .header-rwd-icon :last-child {
        display: block;
    }

    #menu-control:checked~.header+.breadcrumbs {
        display: none;
    }

    #menu-control:checked~.header~.side-bar,
    #menu-control:checked~.header~.court-layout div {
        z-index: -2;
    }

    .nav-menu li a {
        text-align: center;
    }

    .nav-menu li+li {
        border-top: 1px solid #d66c44;
    }


    .nav-menu a {
        display: inline-block;
        padding: 1rem 0;
        transition: all 0.3;
    }

    .nav-menu>li:hover>a {
        transform: scale(1.1);
        font-weight: 600;
        color: #d18237;
    }

    .nav-submenu {
        background: #fefcfd;
    }

    .nav-submenu>li>a {
        width: 100%;
    }

    .nav-submenu>li:hover>a {
        background: #d66b449d;
        color: #fff;
    }

    .breadcrumbs {
        left: 3rem;
        width: 100%;
    }

    .wrapper {
        margin: 65vh auto 5vh;
    }
}

/* 平板螢幕 */
@media screen and (min-width: 768px) {
    .header label {
        display: none;
    }

    .header-content .nav-menu {
        display: flex;
    }

    .header-content .nav-menu>li {
        padding: 1.5rem 4rem 1.5rem 3rem;
        position: relative;
    }

    /* nav 第一層動畫 */
    .nav-menu>li>a:before {
        content: '';
        position: absolute;
        width: 0rem;
        height: 100%;
        left: 0;
        top: 0;
        background: #d66c44;
        opacity: 0.4;
        transition: all 0.3s;
    }

    .nav-menu>li:last-child>a::before {
        border-radius: 0 0.5rem 0.5rem 0;
    }

    .nav-menu>li:hover>a:before {
        width: 100%;
    }

    .nav-menu>li .nav-submenu {
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
    }

    .nav-submenu {
        background: #d66c44;
        z-index: 2;
    }

    .nav-submenu>li a {
        width: 100%;
        padding: 0.5rem 1.5rem;

    }

    .nav-submenu>li:hover>a {
        background: #d18237;
        color: #fff;
    }

    .breadcrumbs {
        left: 5rem;
    }

    .wrapper {
        margin: 50vh auto 25vh;
    }
}

/* 電腦螢幕 */
@media screen and (min-width: 992px) {

    .breadcrumbs {
        left: 7rem;
    }

    .wrapper {
        margin: 50vh auto 25vh;
    }

}