.court-layout {
    width: 100%;
}

.court-group {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* 球場圖 */
.outside-space {
    background: #324856;
    display: flex;
    justify-content: center;
    align-items: center;
}

.court {
    width: 80%;
    height: 75%;
    display: flex;
}

.baseline {
    height: 100%;
    width: 2px;
    background: #000;
    position: relative;
}

.half-court {
    display: flex;
    flex-direction: column;
    width: calc(50% - 1px);
}

.side-court {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
}

.sideline-doubles {
    width: 100%;
    background: #000;
    height: 2px;
    position: relative;
}

.sideline-block {
    background: #4a746a;
    height: calc(100% - 4px);
    width: 100%;
}

.sideline-singles {
    width: 100%;
    background: #000;
    height: 2px;
    position: relative;
}

.middle-court {
    width: 100%;
    height: 70%;
    display: flex;
}

.baseline-block {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.baseline-block-left {
    width: 100%;
    height: 50%;
    background: #4a746a;
}

.baseline-block-right {
    width: 100%;
    height: 50%;
    background: #4a746a;
}

.center-mark-top {
    width: 7px;
    height: 2px;
    background: #000;
    position: absolute;
    left: 0;
    top: calc(50% - 1px);
}

.backcourt-block {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.center-mark-btm {
    width: 7px;
    height: 2px;
    background: #000;
    position: absolute;
    left: calc(100% - 7px);
    top: calc(50% - 1px);
}

.service-line {
    width: 2px;
    background: #000;
    height: 100%;
    position: relative;
}

.service-group {
    display: flex;
    flex-direction: column;
    width: calc(50% - 1px);
    height: 100%;
}

.service-box {
    width: 100%;
    height: calc(50% - 1px);
    background: #4a746a;
}

.center-service-line {
    width: 100%;
    height: 2px;
    background: #000;
    position: relative;
}

.net {
    width: 2px;
    height: 110%;
    background: #000;
    position: relative;
    top: -5%;
}

/* 網球術語版面 */
.court-glossary {
    width: 100%;
    margin: 30px auto;
    text-align: center;
}

.court-glossary h2 {
    margin-bottom: 15px;
}

.glossary-btn {
    width: 20%;
    padding: 5px;
    background: #D66c44;
    color: #fff;
    border-color: #d66c44;
    border-radius: 2px;
}

.court-btn {
    padding: 10px 0;
}

.court-btn .singles-btn,
.doubles-btn {
    width: 90px;
}

#reset-btn {
    margin-left: 1.5rem;
    background: #4a756a;
    border-color: #4a756a;
}

.court-glossary-select {
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.court-glossary-select label {
    font-size: 1.6rem;
}

.court-glossary-select select {
    margin: 0 5px 0 2px;
    padding: 3px;
    width: 70%;
}


.active {
    background: #d18237;
    transition: all 0.3s;
}

.line-active {
    background: #fff;
    border: 1px solid #fff;
    transition: all 0.3s;
}

.court-lines {
    display: flex;
}

.court-area-definition,
.court-line-definition {
    width: 90%;
    padding: 10px 12px;
    margin: 5px auto 10px;
    text-align: center;
    line-height: 2.5rem;
    display: none;
}

.definition-active {
    color: #fff;
    background: #4a746a;
}

/* 手機螢幕 */
@media screen and (max-width: 767px) {
    .breadcrumbs {
        display: none;
    }

    .outside-space {
        min-width: 300px;
        height: 150px;
    }

    .court-glossary-select label {
        width: 100%;
        margin-bottom: 5px;
    }

}

/* 平板螢幕 - 直式 */
@media screen and (min-width: 768px) {



    .court-group {
        margin: 13rem auto;
    }

    .outside-space {
        width: 600px;
        height: 280px;
    }

    .court-glossary-select {
        justify-content: center;
        align-items: center;
        padding: 5px;
    }

    .court-glossary-select label {
        width: 15%;

    }

    .court-glossary-select select {
        width: 30%;
        margin-right: 20px;
    }

    .court-glossary-select .glossary-btn {
        width: 12%;
    }

}

/* 電腦螢幕 */
@media screen and (min-width: 992px) {}