@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    color: #000;
}

html {
    /* 設定根元素font-size:10px */
    font-size: 10px;
}

body {
    /* body字級大小 1.6rem*10px=16px */
    font-size: 1.6rem;
    line-height: 1.7;
    letter-spacing: 0.1rem;
    font-family: 'Verdana', 'Noto Sans TC',
        sans-serif;
}

/* 字體排版設定 */
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 1rem;
    text-align: center;
    font-weight: 500;
    line-height: 1.5;
}

h1 {
    font-size: 3.0rem;
    font-weight: 600;
}

h2 {
    font-size: 2.6rem;
}

h3 {
    font-size: 2.3rem;
}

h4 {
    font-size: 2rem;
}

h5 {
    font-size: 1.8rem;
}

h6 {
    font-size: 1.6rem;
}

p {
    padding: 0 0.1rem;
    margin: 1.6rem 0;
}

strong {
    border-bottom: 1px solid #d66c44;
}

button {
    text-align: center;
    border: none;
    outline: none;
    background-color: inherit;
}


/* 用來設定與 fixed header 的距離 */
.wrap-top {
    padding: 100px 0 0;
}

/* 設定左右 & 下方留白 */
.wrap-side {
    padding: 0 32px 25px;
}

/* 滿版間隔背景底色區分 */
section:nth-of-type(odd) .wrap-fluid-bg {
    background: #eee;
    padding: 2.5rem 0 0;
    margin-bottom: 2.5rem;
}

/* Responsive Tables */
.responsive-table {
    overflow-x: auto;
}

/* table th 藍底白字樣式 */
.table-blue-head th {
    text-align: center;
    background: #324856;
    color: #fefcfd;
    padding: 10px 0 10px;
}

.table-striped-orange tr:nth-child(even) {
    background: #d18237;
}

.table-striped-orange tr:nth-child(odd) {
    background: #d18137c8;
}

.table-striped-orange tr:hover {
    background-color: #d66c44;
}

/* 手機螢幕 */
@media screen and (max-width: 767px) {}

/* 平板螢幕 */
@media screen and (min-width: 768px) {

    /* 用來設定與 fixed header 的距離 */
    .wrap-top {
        padding: 120px 0 0;
    }

    /* 大螢幕內容的寬度比例 */
    .wrap-large {
        width: 85%;
        margin: 0 auto;
    }

    .read-area {
        width: 70%;
        margin: 0 auto;
        max-width: 900px;
    }
}

/* 電腦螢幕 */
@media screen and (min-width: 992px) {}