/* 共用設定 */

/* section title */
.title {
    width: 100%;
    text-align: justify;
    margin: 0 auto;
}

/* section contents */
section p,
li {
    color: #222;
}

section .article {
    margin: 1rem 0;
}

section ol {
    font-size: 1.6rem;
    line-height: 3rem;
    padding: 0 2rem;
    list-style-position: inside;
}

section ol li {
    list-style-type: decimal;
}

section .article-card-wrap {
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
}

section .article-card {
    border: 1px solid #d18237;
    border-radius: 5px;
    padding: 40px 20px 20px;
}

.article-card h4 {
    text-align: left;
    padding-bottom: 10px;
}

section .article-card a {
    color: #d18237;
}

section .article-card a:hover {
    color: #D66c44;
    background: #324856;
    padding: 5px;
    border-radius: 3px;
}

.article-card ul {
    list-style-position: inside;
    margin-bottom: 1.5rem;
    margin-left: 1.6rem;
}

.article-card ul li {
    list-style-type: disc;
}


/* 手機螢幕 */
@media screen and (max-width: 767px) {

    section .article-card-wrap {
        flex-wrap: wrap;
    }

    section .article-card {
        width: 100%;
        margin-bottom: 25px;
    }


}

/* 平板螢幕 */
@media screen and (min-width: 768px) {

    .title {
        padding-bottom: 50px;
    }

    .breadcrumbs {
        margin-bottom: 0;
    }

    section .article-card {
        width: 45%;
    }
}

/* 電腦螢幕 */
@media screen and (min-width: 992px) {}