/* 共用設定 */

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.8rem;
    margin-top: 1rem;
}

p {
    font-size: 1.6rem;
    line-height: 3rem;
}

section {
    width: 80%;
    margin: 12rem auto 0;
}

section .article {
    margin: 4rem 0;
}

section .article p {
    margin-top: 1.5rem;
}

section .sub-article {
    display: flex;
    margin-bottom: 1.5rem;
}

section .logo-img {
    margin: 2rem 2rem 1rem;
}

section .logo-img a {
    display: block;
    height: 6rem;

}

section .logo-img img {
    width: 100%;
}


/* 手機螢幕 */
@media screen and (max-width: 767px) {

    section .logo-img {
        width: 20%;
    }

}

/* 平板螢幕 */
@media screen and (min-width: 768px) {

    section .logo-img {
        width: 10%;
    }

}

/* 電腦螢幕 */
@media screen and (min-width: 992px) {}